

.continer-product-item {
    display: flex;
    margin: 5px;
    width: 400px;
  }

  
  .product-list-header-main{
    text-align: left;
    width: 470px;
  }

  .product-list-header-sm{
    width: 470px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .main-container-draggable {
    display: flex;
    width: 90%;
  }



  .add-Disccount {
    color: white;
    background-color:#008060; 
    border: 2px solid #008060;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    width: 141px;
    border-width: 2px;
    border-radius: 4px;
    font-weight: 500;

  }
  
  .dragger {
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  .item-index {
    margin: 5px;
    margin-top: 15px;
  }

  .add-product-btn-container{
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .btn-add-product{
    width: 193px;
    height: 48px;
    border-width: 2px;
    border-radius: 4px;
    border: 2px solid #008060;
    color: #008060;
    background-color: white;
    cursor: pointer;
    float: right;
    margin-right: 25px;
  }
  
  .offer-container {
    display: flex;
    width: 35%;
    justify-content: space-between;
  }
  
  .offer-container > input {
    width: 40%;
    box-shadow: 0px 2px 4px 0px #0000001A;
    border: 1px solid #00000012;
    padding: 5px;
  }
  .offer-container > select {
    width: 60%;
    margin-left: 10px;
    box-shadow: 0px 2px 4px 0px #0000001A;
    border: 1px solid #00000012;
    padding: 5px;
  }
  
  .delete-product {
    cursor: pointer;
    color:#00000080;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0px;
  }